.trafalag-foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 71px;
    padding-bottom: 70px;
}
footer{
    background-color: hsla(32, 70%, 83%, 1);
}
.trafalag-foot-icon{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}